[submodule "git/.scm_breeze"]
	path = git/.scm_breeze
	url = git://github.com/ndbroadbent/scm_breeze.git
[submodule "vim/.vim/bundle/auto-pairs"]
	path = vim/.vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "vim/.vim/bundle/emmet-vim"]
	path = vim/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/tabular"]
	path = vim/.vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/.vim/bundle/vim-gas"]
	path = vim/.vim/bundle/vim-gas
	url = https://github.com/Shirk/vim-gas
[submodule "vim/.vim/bundle/vim-jst"]
	path = vim/.vim/bundle/vim-jst
	url = git://github.com/briancollins/vim-jst.git
[submodule "vim/.vim/bundle/editorconfig-vim"]
	path = vim/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/vim-indent-guides"]
	path = vim/.vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-slim"]
	path = vim/.vim/bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-ruby-heredoc-syntax"]
	path = vim/.vim/bundle/vim-ruby-heredoc-syntax
	url = git://github.com/joker1007/vim-ruby-heredoc-syntax.git
[submodule "vim/.vim/bundle/vim-textobj-user"]
	path = vim/.vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim/.vim/bundle/vim-textobj-rubyblock"]
	path = vim/.vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "bash/.tmux/plugins/tpm"]
	path = bash/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
