[submodule "git/.scm_breeze"]
	path = git/.scm_breeze
	url = git://github.com/ndbroadbent/scm_breeze.git
[submodule "bash/.tmux/plugins/tpm"]
	path = bash/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bash/.fzf"]
	path = bash/.fzf
	url = https://github.com/junegunn/fzf
